@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#header {
    background-color: #2E2E2E;
    background-size: 100%;
    text-align: right;
    font-family: yekan;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    font-size: small;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none;
    color: #00BFFF;
}

#header #currentUser {
    display: inline;
    margin-right: 960px;
    color: white;
}

.recoverTitle {
    text-align: right;
    margin-left: 820px;
    color: yellowgreen;
    font-size: large;
    margin-top: 200px;
}

.recoverForm {
    margin-left: 350px;;
    margin-top: 20px;
}

.recoverPanel {
    border-color: #D8D8D8;
    height: 300px;
    width: 600px
}

.ar1 {
    width: 200px;
    text-align: right;
    font-size: small;
    font-family: yekan;
    padding-right: 10px;
    color: red;
}

.ar2 {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    margin-top: 15px;
    padding: 8px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    width: 250px;
}

.ar2[type="text"] {
    text-align: left;
    font-size: small;
    border: 1px solid rgb(186, 186, 186);
    font-family: yekan;
}

.ar2:focus {
    border-color: #4195fc;
    color: rgb(0, 0, 0);
}

.recoverBtn {
    background-color: #4195fc;
    font-family: yekan;
    border: 1px solid rgb(186, 186, 186);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}

.recoverBtn:hover {
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.emailResult {
    margin-left: 100px;
    font-size: 14px;
    color: brown;
    text-align: right;
}

.footer .footerLine {
    border: 0;
    background-color: red;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100%;
    height: 1px;
}

.footer {
    float: left;
    margin-left: 400px;
    margin-top: 100px;
}

.footer a {
    text-decoration: none;
    padding-left: 50px;
    color: #6E6E6E;
}

.footer:hover {
    color: black;
}