@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

/*reset browsers treats*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#header {
    background-color: #2E2E2E;
    background-size: 100%;
    text-align: right;
    font-family: yekan;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    font-size: small;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none;
    color: #00BFFF;
}

#header #currentUser {
    display: inline;
    margin-right: 900px;
    color: white;
}

 /*#currentUser{*/
    /*color: white;*/
    /*float: left;*/
    /*margin-top: -25px;*/
    /*text-align: left;*/
    /*display: inline;*/
    /*background-color: #2E2E2E;*/
    /*font-size: small;*/
    /*padding-left: 20px;*/
/*}*/

#centerText{
    float: left;
    text-align: left;
    margin-left: 540px;
    width: 10%;
}

.srchField {
    background: white url("#{resource['images:s1.png']}") no-repeat 7px 4px;
    float: left;
    text-align: right;
    font-size: 14px;
    width: 230px;
    height: 33px;
    border-color: #969696;
    box-shadow: none;
    padding-right: 6px;
    font-family: yekan;
    font-size: 12px;
}

.srchField [typeof="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.srchBtn {
    padding: 5px 15px;
    margin-left: -2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.srchBtn:hover {
    background-color: #fafafa;
    color: #207cca;
}

.bookGlbMsg {
    float: right;
    font-size: 12px;
    color: red;
    margin-right: 90px;
}

#line{
    border: 0;
    background-color: red;
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 22px;
    width: 40%;
    height: 1px;
}

#bookMenu2{
    text-align: center;
    margin-top: 50px;
    margin-right: 180px;
}

#bookMenu2 a{
    color: #848484;
    text-decoration: none;
}

#bookMenu2 a:hover{
    color: black;
}

#content{
    background-color: #FAFAFA;
    height: 100%;
}

#content #leftDiv{
    float: left;
    margin-left: 50px;
    text-align: right;
    width: 60%;
    height: 100%;
}

#content #leftDiv #address #bookTitle{
    display: inline;
    color: #585858;
}

#content #leftDiv #address #userAddress{
    display: inline;
    text-align: right;
    margin-right: 10px;
    text-decoration: none;
    color: #2E2E2E;
    font-size: small;
}

#content #leftDiv #address #userAddress a{
    text-decoration: none;
    color: #848484;
}

#content #leftDiv #leftHorizontalLine{
    border: 0;
    /*width: 600px;*/
    margin-left: 200px;
    background-color: #D8D8D8;
    height: 1px;
}

#content #contentVerticalLine{
    float: left;
    background-color: #D8D8D8;
    margin-top: -350px;
    margin-left: 900px;
    height: 250px;
    width: 1px;
}

#content #leftDiv #leftPic{
    float: left;
    background-color: red;
    margin-top: 25px;
    margin-left: 200px;
}

#content #leftDiv #leftText #title{
    float: left;
    display: inline;
    font-family: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
    font-size: x-large;
    color: #424242;
    margin-left: 40px;
    margin-top: 35px;
}

#content #leftDiv #leftText #cost{
    text-align: left;
    font-size: x-large;
    color: #00BFFF;
    margin-top: 40px;
    margin-left: 400px;
}

#content #leftDiv #leftText #Qty [type="text"]{
    background-color: white;
    float: left;
    margin-left: 400px;
    width: 44px;
    height: 40px;
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 2px;
    padding: 8px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    font-size: 14px;
    color: #848484;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.QtyBtn{
    float: left;
    margin-left: 400px;
    padding: 3px 5px;
    text-align: center;
    background-color: white;
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 3px;
    color: rgb( 186, 186, 186 );
}

.qtyMsgStyle{
    font-size: small;
    color: red;
    text-align: right;
    float: left;
}

#content #leftDiv #leftText #QtyText{
    float: left;
    margin-left:20px;
    color: #848484;
    margin-top: 5px;
}


#content #rightDiv{
    margin-right: 30px;
    margin-top: -350px;
    float: right;
    text-align: right;
    width: 30%;
    height: 100%;
}


.footerLine{
    border: 0;
    background-color: #BDBDBD;
    margin-top: 450px;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
}

.footer{
    float: left;
    margin-left: 350px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.footer a{
    text-decoration: none;
    padding-left: 50px;
    color: #6E6E6E;
}

.footer a:hover{
    text-decoration: none;
    color: black;
}