@font-face {
    font-family: "yekan";
    src: url("#{resource['css/fonts:BYekan.eot']}");
    src: url("#{resource['css/fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
        url("#{resource['css/fonts:BYekan.woff']}") format('woff'),
        url("#{resource['css/fonts:BYekan.ttf']}") format("truetype"),
        url("#{resource['css/fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

//reset browsers treats
*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#quarterUpDiv{
    width: 100%;
    height: 230px;
    background-color: #E6E6E6;
}

#quarterUpDiv #header{
    background-color: #2E2E2E;
    color: white;
    text-align: right;
    font-size: small;
    margin-right: -8px;
    margin-top: -10px;
    margin-left: -8px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 7px;
}

#quarterUpDiv #header a{
    color: white;
    text-decoration: none;
}

#quarterUpDiv #header a:hover{
    color: #00BFFF;
    text-decoration: none;
}

#quarterUpDiv #currentUser{
    color: white;
    float: left;
    margin-top: -25px;
    text-align: left;
    display: inline;
    background-color: #2E2E2E;
    font-size: small;
    padding-left: 20px;
}

#centerText{
    float: left;
    margin-top: 0px;
    text-align: left;
    margin-left: 540px;
    width: 10%;
}

#searchField [type="text"]{
    float: left;
    margin-top: 40px;
    background-image:url("#{resource['images:s1.png']}");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    text-align: left;
    border-radius: 7px;
    margin-left: 200px;
    font-size: 14px;
    width: 15%;
    height: 25px;
    padding-left: 40px;
    border-color: #969696;
    box-shadow: none;
}

#searchField [type="text"]:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#line{
    border: 0;
    background-color: #BDBDBD;
    width: 60%;
    height: 1px;
}

#menues2{
    text-align: center;
    margin-top: 130px;
}

#menues2 a{
    color: #848484;
    text-decoration: none;
}

#menues2 a:hover{
    color: black;
}