@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#header {
    background-color: #2E2E2E;
    background-size: 100%;
    text-align: right;
    font-family: yekan;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    font-size: small;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none;
    color: #00BFFF;
}

#header #currentUser {
    display: inline;
    margin-right: 900px;
    color: white;
}

#centerText {
    float: left;
    text-align: left;
    margin-left: 570px;
    margin-right: 250px;
    width: 10%;
}

.srchField {
    background: white url("#{resource['images:s1.png']}") no-repeat 7px 4px;
    float: left;
    text-align: right;
    font-size: 14px;
    width: 17%;
    height: 33px;
    border-color: #969696;
    box-shadow: none;
    padding-right: 6px;
    font-family: yekan;
    font-size: 12px;
}

.srchField [typeof="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.srchBtn {
    padding: 5px 15px;
    margin-left: -2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.srchBtn:hover {
    background-color: #fafafa;
    color: #207cca;
}

.glbMsg {
    float: right;
    font-size: 12px;
    color: red;
    margin-right: 95px;
}

#line {
    margin-top: 16px;
    border: 0;
    background-color: #BDBDBD;
    margin-left: 230px;
    width: 53%;
    height: 1px;
}

#menues2 {
    padding-top: 80px;
    text-align: left;
    margin-left: 420px;
}

#menues2 a {
    color: #848484;
    text-decoration: none;
}

#menues2 a:hover {
    color: black;
}


.footer .footerLine {
    border: 0;
    background-color: red;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100%;
    height: 1px;
}

.footer {
    float: left;
    margin-left: 400px;
    margin-top: 100px;
}

.footer a {
    text-decoration: none;
    padding-left: 50px;
    color: #6E6E6E;
}