@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
        url("#{resource['fonts:BYekan.woff']}") format('woff'),
        url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
        url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

    /*reset browsers treats*/
*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header{
    background-color: #2E2E2E;
    font-family: yekan;
    color: white;
    font-size: small;
    padding-right: 80px;
    text-align: right;
}

.header a{
    text-decoration: none;
    color: white;
}

.header a:hover{
    text-decoration: none;
    color: #00BFFF;
}

body{
    background-color: #EEE;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: yekan;
    font-size: 16px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    line-height: 1.6em;
    min-height: 100%;
}


.loginTitle{
    color: #969696;
    text-align: right;
    font-family: yekan;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 400px;
}

form#myForm{
    float: right;
    margin-bottom: 40px;
    font-family: yekan;
}

.cl1{
    width: 250px;
}
.cl2{
    width: 250px;
    font-size: small;
}
.cl3{
    width: 200px;
}


.inputStyle{
    float: right;
    font-size: small;
    font-family: yekan;
    text-align: right;
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-top: 15px;
    margin-right: 30px;
    padding: 8px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.inputStyle:focus{
    border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    color: rgb(0,0,0);
}

.reqMsg{
    float: right;
    text-align: right;
    font-family: yekan;
    font-size: small;
    color: saddlebrown;
}

[class*='btn-']{
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(255,255,255,.15);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: yekan;
    font-size: .7em;
    letter-spacing: 1px;
    line-height: 140%;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.btn-myForm{
    background-color: rgb(255,255,255);
    font-family: yekan;
    border-radius: 0;
    border: 1px solid rgb( 186, 186, 186 );
    color: rgb( 186, 186, 186 );
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    margin-top: 10px;
}

.btn-myForm:hover{
    background-color: #4195fc;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-myForm:active{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.glbMsg{
    float: right;
    font-size: 14px;
    color: red;
}

.helpLogin:link{
    font-size: 14px;
}

.footer .footerLine {
    border: 0;
    background-color: red;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
}

.footer{
    float: left;
    margin-left: 430px;
    margin-top: 60px;
}
.footer a{
    text-decoration: none;
    padding-left: 50px;
    color: #6E6E6E;
}