@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

/*reset browsers treats*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#quarterUpDiv {
    width: 100%;
    height: 220px;
    background-color: #E6E6E6;
}

 #header {
    background-color: #2E2E2E;
    color: white;
    text-align: right;
    font-size: small;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 7px;
}

#quarterUpDiv #header a {
    color: white;
    text-decoration: none;
}

#quarterUpDiv #header a:hover {
    color: #00BFFF;
    text-decoration: none;
}

#quarterUpDiv #currentUser {
    color: white;
    float: left;
    margin-top: -25px;
    text-align: left;
    display: inline;
    background-color: #2E2E2E;
    font-size: small;
    padding-left: 20px;
}

#centerText {
    float: left;
    margin-top: 0px;
    margin-top: 30px;
    text-align: left;
    margin-left: 540px;
    width: 10%;
}

.mycardSearchField  {
    background: white url("#{resource['images:s1.png']}") no-repeat 8px 4px;
    float: left;
    text-align: right;
    font-size: 14px;
    width: 200px;
    height: 33px;
    border-color: #969696;
    box-shadow: none;
    font-family: yekan;
    font-size: 12px;
}

.srchField [typeof="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.srchBtn {
    padding: 5px 15px;
    margin-left: -2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.srchBtn:hover {
    background-color: #fafafa;
    color: #207cca;
}

#menues2 {
    text-align: center;
    margin-right: 100px;
}

#menues2 a {
    color: #848484;
    text-decoration: none;
}

#menues2 a:hover {
    color: black;
}

#line {
    border: 0;
    background-color: red;
    width: 30%;
    margin-top: 13px;
    margin-left: 407px;
    height: 1px;
}

.yourShopping {
    float: right;
    text-align: right;
    margin-right: 400px;
    /*margin-bottom: 15px;*/
    color: #848484;
    font-size: large;
}

#cardAddedMsg {
    float: right;
    text-align: right;
    margin-right: 370px;
    padding-right: 20px;
    width: 700px;
    font-size: small;
    border: 1px solid black;
    background-color: #D8D8D8;
}

.cardTable {
    border: 1px solid red;
    text-align: center;
    font-size: small;
    color: #6E6E6E;
    margin-left: 280px;
    width: 700px;
}

.conformBtn{
    padding: 8px 10px;
    background: greenyellow;
}

.extraBtn{
    padding: 8px 10px;

}

.footerLine {
    border: 0;
    background-color: red;
    margin-top: 70px;
    margin-left: 370px;
    width: 40%;
    height: 1px;
}

.myCardfooter {
    float: left;
    margin-left: 400px;
    margin-top: 30px;
}

.myCardfooter a {
    text-decoration: none;
    padding-left: 50px;
    color: #6E6E6E;
}

.myCardfooter a:hover {
    text-decoration: none;
    color: black;
}


.rsc{
    height: 17px;
}
