@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}