@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#header {
    background-color: #2E2E2E;
    background-size: 100%;
    text-align: right;
    font-family: yekan;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    font-size: small;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none;
    color: #00BFFF;
}

#header #currentUser {
    display: inline;
    margin-right: 900px;
    color: white;
}

.srchField {
    background: white url("#{resource['images:s1.png']}") no-repeat 7px 4px;
    border-color: #969696;
    box-shadow: none;
    padding-right: 6px;
    text-align: right;
    font-size: small;
    height: 35px;
    width: 250px;
}

.srchField [type="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.srchBtn {
    margin-left: -2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: white;
    padding: 6px 14px;
}

.srchBtn:hover {
    background-color: #fafafa;
    color: #207cca;
}

.srchBtn:active {
    color: red;
}

.regTitle {
    margin-left: 800px;
    color: #969696;
    text-align: right;
    font-family: yekan;
    font-size: 20px;
}

.glbMsg {
    float: right;
    font-size: 12px;
    color: red;
    margin-right: 95px;
}

#line {
    margin-top: 16px;
    border: 0;
    background-color: #BDBDBD;
    margin-left: 230px;
    width: 53%;
    height: 1px;
}

.verticalLine {
    width: 300px;
    border-left: thin solid #D8D8D8;
    height: 238px;
    float: left;
    margin-left: -300px;
    text-align: right;
    padding-right: 50px;
    padding-top: 50px;
}

.regInput {

}

.regInput[type="text"],
.regInput[type="password"] {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: 14px;
    margin: 6px 0 12px 0;
    padding: 8px;
    text-align: right;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);

}

.regInput[type="text"]:focus,
.regInput[type="password"]:focus {
    border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
    color: rgb(0, 0, 0);
}

.rc1 {
    width: 150px;
    text-align: right;
    color: red;
    font-size: small;
    padding-right: 10px;
}

.regReqBtn {
    padding: 8px 16px;
    background-color: white;
    border-radius: 0;
    font-family: yekan;
    font-size: 17px;
    border: 1px solid red;
    color: red;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 1);*/
    /*font-size: small;*/
}

.regReqBtn:disabled {
    background-color: tan;
}

.regReqBtn:hover {
    /*border: 1px solid rgba(0, 0, 0, .1);*/
    /*color: rgb(255, 255, 255);*/
    cursor: pointer;
    background-color:#207cca;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
}

.regFooter .regFooterLine {
    border: 0;
    background-color: red;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100%;
    height: 1px;
}

.regFooter {
    float: left;
    margin-left: 400px;
    margin-top: 100px;
}

.regFooter a {
    text-decoration: none;
    padding-left: 50px;
    color: #6E6E6E;
}
