@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#header {
    background-color: #2E2E2E;
    background-size: 100%;
    text-align: right;
    font-family: yekan;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    font-size: small;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none;
    color: #00BFFF;
}

#header #currentUser {
    display: inline;
    margin-right: 900px;
    color: white;
}

.srchField {
    background: white url("#{resource['images:s1.png']}") no-repeat 7px 4px;
    border-color: #969696;
    box-shadow: none;
    padding-right: 6px;
    text-align: right;
    font-size: small;
    height: 35px;
    width: 250px;
}

.srchField [type="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.srchBtn {
    margin-left: -2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: white;
    padding: 6px 14px;
}

.srchBtn:hover {
    background-color: #fafafa;
    color: #207cca;
}

.srchBtn:active {
    color: red;
}