@font-face {
    font-family: "yekan";
    src: url("#{resource['fonts:BYekan.eot']}");
    src: url("#{resource['fonts:BYekan.eot']}?#iefix") format('embedded-opentype'),
    url("#{resource['fonts:BYekan.woff']}") format('woff'),
    url("#{resource['fonts:BYekan.ttf']}") format("truetype"),
    url("#{resource['fonts:Yekan.svg.svg']}#BYekan") format('svg');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: yekan;
    background-color: #EEE;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

#header {
    background-color: #2E2E2E;
    background-size: 100%;
    text-align: right;
    font-family: yekan;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-bottom: 7px;
    font-size: small;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none;
    color: #00BFFF;
}

#header #currentUser {
    display: inline;
    margin-right: 960px;
    color: white;
}

.srchField {
    float: left;
    background: white url("#{resource['images:s1.png']}") no-repeat 7px 4px;
    text-align: right;
    font-size: 14px;
    width: 200px;
    height: 33px;
    border-color: #969696;
    box-shadow: none;
    padding-right: 6px;
    font-family: yekan;
    font-size: 12px;
}

.srchField [typeof="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.srchBtn {
    padding: 5px 15px;
    margin-left: -2px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.srchBtn:hover {
    background-color: #fafafa;
    color: #207cca;
}

#line {
    margin-top: 16px;
    border: 0;
    background-color: #BDBDBD;
    margin-left: 230px;
    width: 53%;
    height: 1px;
}

#menues2 {
    padding-top: 80px;
    text-align: left;
    margin-left: 420px;
}

#menues2 a {
    color: #848484;
    text-decoration: none;
}

#menues2 a:hover {
    color: black;
}

.resetResult {
    /*float: right;*/
    font-size: 14px;
    color: brown;
    text-align: right;
}

.rp1 {
    float: left;
    width: 100px;
    text-align: right;
    color: red;
    font-family: yekan;
    font-size: small;
    padding-right: 10px;
}

.rp2 {
    float: right;
    width: 200px;
}

.rp2[type="password"]{
    text-align: right;
    font-family: yekan;
    font-size: small;
    margin-bottom: 10px;
    border: 1px solid rgb(186, 186, 186);
}

.rp2[type="password"]:focus{
    border-color: #4195fc;
    color: rgb(0, 0, 0);
}

.rpBtn{
    text-align: center;
    display: inline-block;
    background-color: #207cca;
    color: white;
    letter-spacing: 2px;
    padding: 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    font-family: yekan;
    font-size:small;
    border-radius: 5px;
    cursor: pointer;
}
