
.btn1 {
    background-color: #4195fc;
    font-family: yekan;
    border: 1px solid rgb(186, 186, 186);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
}

.btn1:disabled {
    background-color: red;
}