<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>بازیابی حساب کاربری</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600"
          rel="stylesheet" type="text/css"/>
    <h:outputStylesheet library="css" name="AccountRecoveryStyle.css"/>
</h:head>
<h:body>

    <div id="header">
        <div id="currentUser">
            <h:panelGroup rendered="#{userBean.loggedIn}">
                <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;
                <h:outputLabel value="خوش آمدید"/>
            </h:panelGroup>
        </div>

        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;float: left;margin-left: 50px;">
            <h:outputLink value="login.xhtml" style="display: inline">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml" style="display: inline">ثبت نام</h:outputLink>
        </h:form>

        <h:form rendered="#{userBean.loggedIn}" style="display: inline;float: right">
            &nbsp;&nbsp;&nbsp;
            <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;
            <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
        </h:form>

    </div>

    <h:outputLabel value="بازیابی حساب کاربری" styleClass="recoverTitle"/>

    <h:form id="accountRecoveryForm" styleClass="recoverForm">

        <span id="pleaseWait" style="display: none">Please Wait...</span>

        <p:panel id="arp" styleClass="recoverPanel">
            <p:focus context="arp"/>
            <h:panelGrid columns="2" columnClasses="ar1,ar2">

                <h:message id="emailMsg" for="email1"/>
                <h:inputText id="email1" value="#{accountRecoveryBean.email}" required="true" label="email1" styleClass="ar2">
                    <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)"/>
                    <f:ajax event="blur" render="emailMsg"/>
                </h:inputText>
                <p:watermark for="email1" value="Enter email address..."/>

                <h:commandButton id="recoverBtn" value="بازیابی" action="#{accountRecoveryBean.sendEmail}" styleClass="recoverBtn">
                    <f:ajax execute="@form" render="@form"/>
                </h:commandButton>
            </h:panelGrid><br/>


            <h:panelGrid>
                <h:messages id="emailResult" layout="table" globalOnly="true" showSummary="false" showDetail="true"
                            styleClass="emailResult"/>
            </h:panelGrid>
        </p:panel>
    </h:form>

    <div class="footer">
        <hr class="footerLine"/>

        <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aboutUs.xhtml">درباره ما</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="Registration.xhtml">ثبت نام </h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>
</h:body>
</html>

