<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>حساب کاربری شما فعال شد</title>
    <h:outputStylesheet library="css" name="ActivSuccStyle.css"/>
</h:head>

<f:event type="preRenderView" listener="#{registrationBean.activateUser}"/>

<h:body>

    <div id="header">
        <div id="currentUser">
            <h:form style="float: left;margin-left: 30px;">
                <h:panelGroup rendered="#{userBean.loggedIn}">
                    <h:commandLink value="خروج" action="#{userBean.logout}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;&nbsp;
                    <h:outputLabel value="خوش آمدید"/>
                </h:panelGroup>
            </h:form>
        </div>

        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;float: left;margin-left: 30px;">
            <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml">ثبت نام</h:outputLink>&nbsp;&nbsp;&nbsp;
        </h:form>

        &nbsp;&nbsp;&nbsp; <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
    </div>

    <div id="centerText">
        <h1> کتابهای ما</h1>
    </div>


    <h:form id="searchForm">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/>
        <h:messages id="emptySearchMsg" layout="table" globalOnly="true" showDetail="true" showSummary="false"
                    styleClass="glbMsg"/>
    </h:form>

    <div id="menues2">
        <h:outputLink value="aa">کتابهای تجاری</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">همه کتابها</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کودکان</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کتابهای دست دوم</h:outputLink>
    </div>

    <hr id="line"/>
    <div>d</div>

    <h:form style="margin-left: 350px;background-color: white;width: 600px;text-align: right;height: 200px;">
        <br/>

        <h:outputLabel value="  حساب شما با موفقیت فعال شد" style="margin-right: 50px;margin-left: 15px;float: right"/> &nbsp;
        <h:graphicImage name="images/ok.png" style="width: 70px;float: right;margin-top: -25px;"/>

        <h:outputLink value="login.xhtml"
                      style="text-decoration: none;color: orangered;float: right;margin-right: 10px;">وارد شوید</h:outputLink>

    </h:form>

</h:body>

</html>