<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Facelet Title</title>
    <h:outputStylesheet library="css" name="BooksPage.css"/>
</h:head>
<h:body>

    <div id="header">
        <div id="currentUser">
            <h:form style="float: left;margin-left: 30px;">
                <h:panelGroup rendered="#{userBean.loggedIn}">
                    <h:commandLink value="خروج" action="#{userBean.logout}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;&nbsp;
                    <h:outputLabel value="خوش آمدید"/>
                </h:panelGroup>
            </h:form>
        </div>

        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;float: left;margin-left: 50px;">
            <h:outputLink value="login.xhtml" style="display: inline">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml" style="display: inline">ثبت نام</h:outputLink>
        </h:form>

        <h:form rendered="#{userBean.loggedIn}" style="display: inline;float: right">
            &nbsp;&nbsp;&nbsp;
            <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;
            <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
        </h:form>
    </div>


    <div id="centerText">
        <h1> کتابهای ما </h1>
    </div>

    <h:form id="searchForm" style="margin-left: 950px">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/>
        <h:messages id="emptySearchMsg" layout="table" globalOnly="true" showDetail="true" showSummary="false"
                    styleClass="bookGlbMsg"/>
    </h:form>

    <div id="bookMenu2">
        <h:outputLink value="home.xhtml">همه کتابها</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="a">تجاری</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کودکان</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کتابهای دست دوم </h:outputLink>
    </div>

    <hr id="line"/>

    <div id="content">

        <div id="leftDiv">

            <div id="address">
                <div id="bookTitle">
                    <h:outputText value="#{ordersBean.currentBook.title}"/>&nbsp;&nbsp;
                </div>
                <div id="userAddress">
                    <h:outputLink value="home.xhtml"> &lt; &nbsp;&nbsp; خانه</h:outputLink>
                </div>
            </div>


            <div id="leftHorizontalLine"/>

            <div id="leftPic">
                <h:graphicImage name="images/books/#{ordersBean.isbn}.jpg"/>
            </div>

            <h:form style="text-align: left;">
                <div id="leftText">
                    <div id="title"><h:outputText value="#{ordersBean.currentBook.title}"/></div>
                    <br/><br/>
                    <br/> <h:outputText value="#{ordersBean.currentBook.description}"
                                        style="color: #6E6E6E;margin-left: 38px;"/>

                    <div id="cost">
                        <h:outputText value="#{ordersBean.currentBook.cost}ریال"/><br/>
                        <h:graphicImage library="images" name="av2.png"/><br/>
                    </div>

                    <div id="Qty">
                        <h:inputText id="qtyField" value="#{ordersBean.qty}" required="true" >
                            <p:watermark for="qtyField" value="1"/>
                            <f:validateLongRange minimum="1" maximum="1000"/>
                            <f:ajax event="blur" render="qtyMsg"/>
                        </h:inputText>
                    </div>

                    <div id="QtyText"><h:outputLabel value="تعداد"/></div>
                    <br/><br/>

                    <h:commandButton value="افزودن به سبد" actionListener="#{ordersBean.orderBook()}"
                                     class="QtyBtn" image="resources/images/insertOrder.png"/>
                    <h:message id="qtyMsg" for="qtyField" class="qtyMsgStyle"/>
                </div>
            </h:form>
        </div>

        <div id="contentVerticalLine"/>

        <div id="rightDiv">
            <h:outputLabel value=" محصولات مرتبط "/>
        </div>
    </div>


    <p:dialog header="وارد حساب کاربری خود شوید" widgetVar="dlg1" width="550" height="300" modal="true"
              resizable="false">
        <h:form id="dialogForm" style="float: right;margin-right: 160px;margin-top: 30px;">
            <h:panelGrid columns="3">

                <h:message id="emailMsg" for="email1"
                           style="font-size: small;color: brown;text-align: left;"/>
                <h:inputText id="email1" value="#{userBean.email}" required="true" label="Email Address"
                             style="text-align: right;font-size: small;">
                    <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)"/>
                    <f:ajax event="blur" render="emailMsg"/>
                </h:inputText>
                <p:watermark for="email1" value="ایمیل"/>

                <h:message id="passwordMsg" for="password"
                           style="font-size: small;color: brown;"/>
                <h:inputSecret id="password" value="#{userBean.password}" required="true" label="password"
                               style="text-align: right;font-size: small;">
                    <f:validateLength maximum="20" minimum="4"/>
                    <f:ajax event="blur" render="passwordMsg"/>
                </h:inputSecret>
                <p:watermark for="password" value="رمز عبور"/>

                <h:outputLabel value=" "/>
                <p:commandButton id="loginbtn" value="ورود" action="#{ordersBean.loginDialog()}"
                                 update="@form" process="@form" style="margin-top: 30px">
                </p:commandButton>
                <h:outputLabel value=" "/>

            </h:panelGrid>
            <br/> <h:messages globalOnly="true" layout="table" showSummary="true" showDetail="true"
                              style="font-size: small;color: red;text-align: right;width: 155px;"/>
        </h:form>

        <br/><br/> <br/><br/><br/><br/><br/><br/><br/><br/>
        <h:outputLink value="accountRecovery.xhtml"
                      style="font-size: small;float: right;margin-right: 50px;">نمی توانید وارد حسابتان شوید؟</h:outputLink>
    </p:dialog>

    <br/>
    <hr class="footerLine"/>

    <div class="footer">
        <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aboutUs.xhtml">درباره ما</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>

</h:body>
</html>

