<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>OBS - Home</title>
    <h:outputStylesheet library="css" name="homeStyle.css"/>
</h:head>
<h:body>

    <div id="header">
        <div id="currentUser">
            <h:form style="float: left;margin-left: 30px;">
                <h:panelGroup rendered="#{userBean.loggedIn}">
                    <h:commandLink value="خروج" action="#{userBean.logout}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;&nbsp;
                    <h:outputLabel value="خوش آمدید"/>
                </h:panelGroup>
            </h:form>
        </div>

        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;float: left;margin-left: 50px;">
            <h:outputLink value="login.xhtml" style="display: inline">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml" style="display: inline">ثبت نام</h:outputLink>
        </h:form>

        <h:form rendered="#{userBean.loggedIn}" style="display: inline;float: right">
            &nbsp;&nbsp;&nbsp;
            <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;
            <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
        </h:form>

    </div>

    <div id="centerText">
        <h1> کتابهای ما</h1>
    </div>


    <h:form id="searchForm">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/>
        <h:messages id="emptySearchMsg" layout="table" globalOnly="true" showDetail="true" showSummary="false"
                    styleClass="glbMsg"/>
    </h:form>

    <div id="menues2">
        <h:outputLink value="aa">کتابهای تجاری</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">همه کتابها</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کودکان</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کتابهای دست دوم</h:outputLink>
    </div>

    <hr id="line"/>

    <h:form style="margin-left: 300px;">
        <h:panelGrid columns="4" cellspacing="25">

            <h:commandButton action="#{ordersBean.selectBook}" value="click me"
                             image="resources/images/books/1782163166.jpg">
                <f:param name="isbn" value="1782163166"/>
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>

            <h:commandButton action="#{ordersBean.selectBook}"
                             image="resources/images/books/1118656466.jpg">
                <f:param name="isbn" value="1118656466"/>
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>

            <h:commandButton action="#{ordersBean.selectBook}" value="click me"
                             image="resources/images/books/1782167307.jpg">
                <f:param name="isbn" value="1782167307"/>
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>

            <h:commandButton action="#{ordersBean.selectBook}"
                             image="resources/images/books/9781941222188.jpg">
                <f:param name="isbn" value="9781941222188"/>
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>


        </h:panelGrid>
    </h:form>

    <div class="footer">
        <hr class="footerLine"/>

        <h:outputLink value="Registration.xhtml">ثبت نام </h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aboutUs.xhtml">درباره ما</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>
</h:body>
</html>

