<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Login</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600"
          rel="stylesheet" type="text/css"/>
    <h:outputStylesheet library="css" name="loginStyle.css"/>
</h:head>
<h:body>

    <div class="header">
        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;margin-right: 1000px;">
            <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml">ثبت نام</h:outputLink>&nbsp;&nbsp;
        </h:form>
        &nbsp;
        <h:outputLabel value="به فروشگاه آنلاین کتاب خوش آمدید" style="float: right"/>
    </div>

    <h2 class="loginTitle">ورود به حساب کاربری</h2>

    <h:form id="myForm" style="margin-right: 400px;"><br/>
        <p:panel id="loginPanel" style="border-color: #D8D8D8; height: 300px; width: 600px">
            <p:focus context="loginPanel"/>
            <h:panelGrid columns="3" columnClasses="cl1,cl2,cl3">

                <h:message id="emailMsg" for="email1" styleClass="reqMsg"/>
                <h:inputText id="email1" styleClass="inputStyle" value="#{userBean.email}" required="true"
                             label="email1">
                    <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)"/>
                    <f:ajax event="blur" render="emailMsg"/>
                </h:inputText>
                <p:watermark for="email1" value="ایمیل"/>

                <h:message id="passwordMsg" for="password" class="reqMsg"/>
                <h:inputSecret id="password" styleClass="inputStyle" value="#{userBean.password}" required="true"
                               label="password">
                    <f:validateLength maximum="20" minimum="4"/>
                    <f:ajax event="blur" render="passwordMsg"/>
                </h:inputSecret>
                <p:watermark for="password" value="پسورد"/>

                <h:outputLabel value=" "/>
                <h:commandButton id="loginbtn" value="ورود" action="#{userBean.login()}" class="btn-myForm">
                    <f:ajax execute="@form" render="@form"/>
                </h:commandButton>

            </h:panelGrid>
            <h:messages layout="table" globalOnly="true" showSummary="true" showDetail="true" class="glbMsg"/><br/>

            <br/> <h:outputLink id="hlpLnk" value="accountRecovery.xhtml"
                                styleClass="helpLogin">نمی توانید وارد حسابتان شوید؟</h:outputLink>
        </p:panel>
    </h:form>

    <div class="footer">
        <hr class="footerLine"/>
        <h:outputLink value="Registration.xhtml">ثبت نام</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aboutUs.xhtml">درباره ما</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>

</h:body>
</html>

