<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:g="http://java.sun.com/jsf/html">
<h:head>
    <title>Shopping Card</title>
    <h:outputStylesheet library="css" name="MyCardStyle.css"/>
</h:head>

<f:event type="preRenderView" listener="#{myCardBean.userCard(userBean.currentUser.id)}"/>

<h:body>

    <div id="quarterUpDiv">
        <div id="header">
            <h:outputLink value="Ckeckout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
        </div>

        <div id="currentUser">
            <h:form style="float: left;margin-left: 30px;">
                <h:panelGroup rendered="#{userBean.loggedIn}">
                    <h:commandLink value="خروج" action="#{userBean.logout}" style="color: white;text-decoration: none"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;&nbsp;
                    <h:outputLabel value="خوش آمدید"/>
                </h:panelGroup>
            </h:form>
        </div>

        <div id="centerText">
            <h1> کتابهای ما </h1>
        </div>

        <h:form style="margin-top: 50px;margin-left: 1000px;">
            <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="mycardSearchField"/>
            <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
            <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/>
            <h:messages layout="table" globalOnly="true" showDetail="true" showSummary="false"
                        style="float: right;font-size: 12px;color: red;margin-right: 95px;"/>
        </h:form>

        <br/>

        <div id="menues2">
            <h:outputLink value="home.xhtml">همه کتابها</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h:outputLink value="aa">کودکان</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h:outputLink value="aa">کتابهای دست دوم </h:outputLink>
        </div>

        <hr id="line"/>

    </div>

    <h:outputLabel value="سبد خرید شما" styleClass="yourShopping"/>

    <div id="cardAddedMsg">
        <h:graphicImage name="images/ok.gif"/>&nbsp;&nbsp;
        <h:outputLabel value="کتاب انتخابی شما به سبدتان اضافه شد"/>
    </div>

    <br/><br/><br/>

    <h:form id="ordersForm">
        <p:dataTable id="books" value="#{myCardBean.orderBookInfo}" var="order" selectionMode="single" emptyMessage="موردی برای نمایش وجود ندارد"
                     selection="#{myCardBean.selectedOrder}" rowKey="#{order[0]}"
                     style="width: 700px;text-align: center;margin-left: 280px;font-size: 15px;" rowStyleClass="rsc">

            <p:ajax event="rowSelect" listener="#{myCardBean.onRowSelect}"/>
            <p:ajax event="rowUnselect" listener="#{myCardBean.onRowUnselect}"/>

            <p:column>
                <f:facet name="header">شماره سفارش</f:facet>
                <h:outputText value="#{order[0]}"/>
            </p:column>
            <p:column>
                <f:facet name="header">تاریخ سفارش</f:facet>
                <h:outputText value="#{order[1]}"/>
            </p:column>
            <p:column>
                <f:facet name="header">عنوان</f:facet>
                <h:outputText value="#{order[2]}"/>
            </p:column>
            <p:column>
                <f:facet name="header">ناشر</f:facet>
                <h:outputText value="#{order[3]}"/>
            </p:column>
            <p:column>
                <f:facet name="header">قیمت واحد</f:facet>
                <h:outputText value="#{order[4]}"/>
            </p:column>
            <p:column>
                <f:facet name="header">تعداد</f:facet>
                <h:outputText value="#{order[5]}"/>
            </p:column>
            <p:column>
                <f:facet name="header">قیمت کل </f:facet>
                <h:outputText value="#{order[6]}"/>
            </p:column>

            <f:facet name="footer">
                <p:commandButton id="selectRowBtn" value="حذف سفارش"
                                 action="#{myCardBean.deleteOrder()}" update="@form">
                </p:commandButton>

            </f:facet>
        </p:dataTable>
    </h:form>

    <h:form style="margin-top: 20px;">
        <h:commandButton id="extraBtn" action="#{myCardBean.addExtraOrder}"
                         style="margin-left: 300px;" image="resources/images/addOrder.png"/>
    </h:form>


    <hr class="footerLine"/>
    <div class="myCardfooter">
        <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>

</h:body>
</html>

