<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Facelet Title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600"
          rel="stylesheet" type="text/css"/>
    <h:outputStylesheet library="css" name="registrationStyle.css"/>
</h:head>
<h:body>

    <div id="header">
        <div id="currentUser">
            <h:form style="float: left;margin-left: 30px;">
                <h:panelGroup rendered="#{userBean.loggedIn}">
                    <h:commandLink value="خروج" action="#{userBean.logout}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;&nbsp;
                    <h:outputLabel value="خوش آمدید"/>
                </h:panelGroup>
            </h:form>
        </div>

        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;float: left;margin-left: 50px;">
            <h:outputLink value="login.xhtml" style="display: inline">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml" style="display: inline">ثبت نام</h:outputLink>
        </h:form>

        <h:form rendered="#{userBean.loggedIn}" style="display: inline;float: right">
            &nbsp;&nbsp;&nbsp;
            <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;
            <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
        </h:form>

    </div>


    <h:form style="float: right;margin-right: 50px;">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/><br/>
        <h:messages layout="table" globalOnly="true" showDetail="true" showSummary="false"
                    styleClass="glbMsg"/>
    </h:form>

    <br/><br/><br/>
    <h:outputLabel value="!هم اکنون عضو شوید" styleClass="regTitle"/>

    <h:form style="float: left;width: 50%;margin-left: 300px;">
        <p:panel id="registrationPanel" style="border: 0px;">
            <p:focus for="registrationPanel"/>
            <h:panelGrid columns="3" columnClasses="rc1">

                <h:message id="usernameMsg" for="username"/>
                <p:inputText id="username" required="true" label="Username" size="20"
                             value="#{registrationBean.username}" styleClass="regInput">
                    <f:validateLength minimum="5" maximum="10"/>
                    <f:ajax event="blur" render="usernameMsg"/>
                </p:inputText>
                <p:watermark for="username" value="نام کاربری"/>

                <h:message id="passwordMsg" for="password"/>
                <p:password id="password" required="true" label="Password" value="#{registrationBean.password}"
                            styleClass="regInput">
                    <f:validateLength minimum="4" maximum="20"/>
                    <f:ajax event="blur" render="passwordMsg"/>
                </p:password>
                <p:watermark for="password" value="رمز عبور"/>

                <h:message id="emailMsg1" for="email1"/>
                <p:inputText id="email1" required="true" label="Email" size="20" value="#{registrationBean.email1}"
                             styleClass="regInput">
                    <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)"/>
                    <f:ajax event="blur" render="emailMsg1"/>
                </p:inputText>
                <p:watermark for="email1" value=" آدرس ایمیل"/>

                <h:message id="emailMsg2" for="email2"/>
                <p:inputText id="email2" required="true" label="Email" size="20" value="#{registrationBean.email2}"
                             styleClass="regInput">
                    <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)"/>
                    <f:ajax event="blur" render="emailMsg2"/>
                </p:inputText>
                <p:watermark for="email2" value="آدرس ایمیل را دوباره وارد کنید"/>

                <h:outputLabel value=" "/>
                <h:commandButton id="regBtn" value="عضویت" action="#{registrationBean.registration}"
                                 styleClass="regReqBtn"
                                 update="@form">
                    <f:ajax execute="@form" render="@form" onevent="handleDisableButton"/>
                </h:commandButton>

            </h:panelGrid>
        </p:panel>
        <h:messages id="gbl" globalOnly="true" layout="table" showDetail="true" showSummary="true" redisplay="false"
                    style="font-size: small;color: red;text-align: right"/>
    </h:form>

    <div class="verticalLine">
        <h:form>
            <h:outputLabel value="حساب کاربری دارید؟" style="font-size: small;color: #424242;"/><br/>
            <h:outputLabel value="پس " style="font-size: small;color: #424242;"/>
            <h:outputLink value="login.xhtml"
                          style="font-size: 14px;text-decoration: none;color: brown"> وارد </h:outputLink>
            <h:outputLabel value="  شوید " style="font-size: small;color: #424242;"/>
        </h:form>
    </div>

    <br/>

    <div class="regFooter">
        <hr class="regFooterLine"/>

        <h:outputLink value="Registration.xhtml">ثبت نام </h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aboutUs.xhtml">درباره ما</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>


    <h:outputScript>
        function handleDisableButton(data) {
            if (data.source.type != "submit") {
                return;
            }

            switch (data.status) {
                case "begin":
                    data.source.disabled = true;
                    break;
            }
        }
    </h:outputScript>

</h:body>
</html>

