<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Registration Successful</title>
    <h:outputStylesheet library="css" name="regSuccStyle.css"/>
</h:head>

<h:body>

    <div id="header">
        <div id="currentUser">
            <h:form style="float: left;margin-left: 30px;">
                <h:panelGroup rendered="#{userBean.loggedIn}">
                    <h:commandLink value="خروج" action="#{userBean.logout}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;&nbsp;
                    <h:outputLabel value="خوش آمدید"/>
                </h:panelGroup>
            </h:form>
        </div>

        <h:form rendered="#{!userBean.loggedIn}" style="display: inline;float: left;margin-left: 50px;">
            <h:outputLink value="login.xhtml" style="display: inline">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="Registration.xhtml" style="display: inline">ثبت نام</h:outputLink>
        </h:form>

        <h:form rendered="#{userBean.loggedIn}" style="display: inline;float: right">
            &nbsp;&nbsp;&nbsp;
            <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
            <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;
            <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
        </h:form>

    </div>

    <h:form id="searchForm" style="float: right;background-color: #6E6E6E;margin-right: 67px;">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/>
        <h:messages id="emptySearchMsg" layout="table" globalOnly="true" showDetail="true" showSummary="false"
                    styleClass="glbMsg"/>
    </h:form>

    <br/><br/>
    <h:form id="regSucForm" style="width:43%;margin-left: 330px;height: 250px;background-color: white;margin-top: 50px;
    text-align: right;">
        <br/><br/>
        <h:messages id="gbl2" for="regSucForm" layout="table" showDetail="true" showSummary="true"
                    style="color: red;text-align: right;font-size: large;padding-left: 220px;"/>
    </h:form>


</h:body>

</html>