<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Reset Password</title>
    <h:outputStylesheet library="css" name="resetPassStyle.css"/>
</h:head>

<h:body>
    <div id="header">
        <div id="currentUser">
            <h:panelGroup rendered="#{userBean.loggedIn}">
                <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;
                <h:outputLabel value="خوش آمدید"/>
            </h:panelGroup>
        </div>

        &nbsp;&nbsp;&nbsp; <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
    </div>


    <h:form id="searchForm" style="float: right;margin-right: 100px;">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید"/>
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}"/><br/>
        <h:messages id="emptySearchMsg" layout="table" globalOnly="true" showDetail="true" showSummary="false"
                    styleClass="glbMsg"/>
    </h:form>

    <div id="menues2">
        <h:outputLink value="aa">کتابهای تجاری</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">همه کتابها</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کودکان</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کتابهای دست دوم</h:outputLink>
    </div>

    <hr id="line"/>

    <h:form id="resetPassForm" style="margin-left: 350px;;margin-top: 20px;">
        <p:panel id="resetPanel" style="border-color: #D8D8D8; height: 300px; width: 600px">
            <p:focus context="resetPanel"/><br/>
            <h:panelGrid columns="3" style="margin-right: 150px;float: right">

                <h:message id="pass1Msg" for="pass1" styleClass="rp1"/>
                <h:inputSecret id="pass1" value="#{accountBean.pass1}" required="true"
                               label="pass1" styleClass="rp2">
                    <f:validateLength maximum="20" minimum="4"/>
                    <f:ajax event="blur" render="passwordMsg"/>
                </h:inputSecret>
                <p:watermark for="pass1" value="رمز جدید خود را وارد کنید"/>

                <h:message id="pass2Msg" for="pass2" styleClass="rp1"/>
                <h:inputSecret id="pass2" value="#{accountBean.pass2}" required="true"
                               label="pass2" styleClass="rp2">
                    <f:validateLength maximum="20" minimum="4"/>
                    <f:ajax event="blur" render="passwordMsg"/>
                </h:inputSecret>
                <p:watermark for="pass2" value=" رمز جدید خود را دوباره وارد کنید"/>

                <!--<h:outputLabel value=" "/>-->
                <h:commandButton id="resetBtn" action="#{accountBean.doReset}" value="تایید" styleClass="rpBtn">
                    <f:ajax execute="@form" render="@form"/>
                    <f:param name="email1" value="#{param['email1']}"/>
                </h:commandButton>
                <br/>
                <h:messages id="passMath" layout="table" globalOnly="true" showSummary="true" showDetail="true"
                            class="resetResult"/>
            </h:panelGrid>
        </p:panel>

    </h:form>


</h:body>

</html>