<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Search Book</title>
    <h:outputStylesheet name="css/SearchStyle.css"/>
</h:head>
<h:body>
    <div id="header">
        <div id="currentUser">
            <h:panelGroup rendered="#{userBean.loggedIn}">
                <h:outputLabel value="#{userBean.currentUser.username}"/>&nbsp;
                <h:outputLabel value="خوش آمدید"/>
            </h:panelGroup>
        </div>

        &nbsp;&nbsp;&nbsp; <h:outputLink value="Checkout.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyCard.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>
    </div>

    <div id="centerText">
        <h1> کتابهای ما</h1>
    </div>

    <h:form id="searchForm">
        <p:inputText id="srchF" value="#{searchBean.searchKeyword}" styleClass="srchField"/>
        <p:watermark for="srchF" value="...عنوان کتاب را وارد کنید" />
        <h:commandButton styleClass="srchBtn" value="search" action="#{searchBean.search()}" /><br/>
        <h:messages id="emptySearchMsg" layout="table"  globalOnly="true" showDetail="true" showSummary="false" styleClass="glbMsg"/>
    </h:form>

    <div id="menu2">
        <h:outputLink value="aa">کتابهای تجاری</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">همه کتابها</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کودکان</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aa">کتابهای دست دوم</h:outputLink>
    </div>

    <hr id="line"/>

    <h:form>
        <h:dataTable id="searchTable" var="srch" value="#{searchBean.searchBookList}" border="1"
                     styleClass="searchTable">

            <h:column>
                <f:facet name="header">Book title</f:facet>
                <h:commandLink value="#{srch[0]}" action="#{ordersBean.selectBook}">
                    <f:param name="isbn" value="#{srch[4]}"/>
                </h:commandLink>
            </h:column>

            <h:column>
                <f:facet name="header">Author</f:facet>
                <h:outputText value="#{srch[1]}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Cost</f:facet>
                <h:outputText value="#{srch[2]}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Description</f:facet>
                <h:outputText value="#{srch[3]}"/>
            </h:column>

            <h:column>
                <f:facet name="header">isbn</f:facet>
                <h:outputText value="#{srch[4]}"/>
            </h:column>

        </h:dataTable>
    </h:form>


    <div class="footer">
        <hr class="footerLine"/>

        <h:outputLink value="aboutUs.xhtml">سبد من</h:outputLink>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">پرداخت</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="Login.xhtml">ورود</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="aboutUs.xhtml">درباره ما</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="MyAccount.xhtml">حساب من</h:outputLink>&nbsp;&nbsp;&nbsp;
        <h:outputLink value="contactUs.xhtml">تماس با ما</h:outputLink>&nbsp;&nbsp;&nbsp;
    </div>
</h:body>
</html>

